<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="JPPGP" connectionString="Server=localhost;Port=3306;Database=jppgp;UserId=root;Password=hppaviliondv6;Convert Zero Datetime=True" />
  </connectionStrings>
</configuration>